/* Layout.module.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.authLinks {
  display: flex;
  gap: 1rem;
}

.authLinks a {
  color: #f39c12;
  text-decoration: none;
  font-weight: bold;
}

.main {
  padding: 2rem;
}

.user {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  border-right: 1px rgb(183, 114, 114) solid;
  padding-right: 5px;
  margin-right: 5px;
}

.logoutDiv {
  display: flex;
}

.logout {
  color: #f39c12;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

.navbar {
  display: flex;
}

.services {
  color: #f39c12;
  font-weight: bold;
  margin-right: 50px;
}
